/* this file is for a standalone jetendo css framework */



body{ margin:0px; line-height:1.3;  }
form{ margin:0px; padding:0px;}
img{border-style:none;}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}
header,
nav,
section,
aside,
article,
footer, .z-section, .z-row{
	width:100%; float:left; min-height:1px;
}

.z-center-children{ text-align:center; font-size:0px;} 
.z-center-children > div, .z-center-children > a{ display:inline-block; text-align:left; vertical-align:top; float:none; }
.z-container{margin:0 auto;width:1260px;}



.z-clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* for responsive image */
.z-fluid {
	width: auto !important;
	height: auto !important;
	max-width: 100%;
}
.z-container iframe { max-width:100%;}

.z-index-1{position:relative; z-index:1;}
.z-index-2{position:relative; z-index:2;}
.z-index-3{position:relative; z-index:3;}

.z-button, .z-container input[type="submit"], .z-container input[type="button"], .z-container button {
	display: inline-block; 
	padding:7px 25px;
	color: #FFFFFF;
	background: rgba(60,60,60, 0.7);
	text-align: center;
	cursor: pointer;
	outline: 0;
	border: none;
	transition:background 0.5s;
	text-decoration: none;
}
.z-button:hover, .z-container input[type="submit"]:hover, .z-container input[type="button"]:hover, .z-container button:hover {
	background: rgba(60,60,60, 1.0);
	color:#FFF;
}
.z-radius-5{ border-radius:5px;}
.z-radius-10{ border-radius:10px;}
.z-radius-15{ border-radius:15px;}

.z-text-left {
	text-align: left !important;
}
.z-text-center {
	text-align: center !important;
}
.z-text-right {
	text-align: right !important;
}
 
.z-table-center{ text-align:center; display:table-cell; vertical-align:middle;}
.z-table-top-center{ text-align:center; display:table-cell; vertical-align:top;}
.z-table-bottom-center{ text-align:center; display:table-cell; vertical-align:bottom;}
.z-table-top-left{ text-align:left; display:table-cell; vertical-align:top;}
.z-table-top-right{ text-align:right; display:table-cell; vertical-align:top; }
.z-table-center-left{ text-align:left; display:table-cell; vertical-align:middle; }
.z-table-center-right{ text-align:right; display:table-cell; vertical-align:middle; }
.z-table-bottom-left{ text-align:left; display:table-cell; vertical-align:bottom;}
.z-table-bottom-right{ text-align:right; display:table-cell; vertical-align:bottom;}
.z-table-bottom-left{ text-align:left; display:table-cell; vertical-align:bottom;}
.z-table{
	display:table;
	
}
.z-reverse-order{ direction: rtl; }
.z-normal-order{ direction: ltr; }
.z-left-sidebar{
	display:table-cell;
	vertical-align: top; 
	float:none !important;
	direction: ltr;
}
.z-right-sidebar{
	display:table-cell;
	vertical-align: top;
	float:none !important;
	direction: ltr;
}

.zForceNegativeMarginLeft, .zForceNegativeMarginRight{display:none;}
 
 
.zAnimateOnVisible{ }
.zOnVisibleSlide { 
	-webkit-animation: zOnVisibleSlide 0.8s ease forwards;
	animation: zOnVisibleSlide 0.8s ease forwards;
}
@-webkit-keyframes zOnVisibleSlide {
  to { 
		-ms-transform:translateX(0) translateY(0); 
		-webkit-transform: translateX(0) translateY(0); 
		transform: translateX(0) translateY(0);  
	}
}
@keyframes zOnVisibleSlide {
  to { 
		-ms-transform:translateX(0) translateY(0); 
		-webkit-transform: translateX(0) translateY(0); 
		transform: translateX(0) translateY(0);  
	}
}
.zAnimateVisible {
  transform: translateX(0) translateY(0) !important;
  animation: none;
}

.z-show-at-1362{display:none;}
.z-show-at-992{display:none;}
.z-show-at-767{display:none;}
.z-show-at-479{display:none;}

.z-mobileMenuButton {display:none;}
.z-mobileMenuDiv {display:none;}

.z-transition-all{-webkit-transition: all ease 0.3s; transition: all ease 0.3s;}

@media screen and (max-width: 1362px) { 
	.z-container{margin:0 auto; width:974px;}
	.z-fluid-at-1362{ width:100% !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-1362{display:none !important;}
	.z-show-at-1362{display:block !important;}
}
@media screen and (max-width: 992px) { 
	.z-container{margin:0 auto; width:100%;}  

	.z-table{display:block;}

	.z-left-sidebar{
		display:block;
		width:100% !important;
		float:left !important;
		max-width:100% !important;
		margin:0px;
		margin-left:0px !important; margin-right:0px !important; 
	}
	.z-right-sidebar{
		display:block;
		width:100% !important;
		max-width:100% !important;
		float:left !important;
		margin:0px;
		margin-left:0px !important; margin-right:0px !important; 
	}
	.z-fluid-at-992{ width:100% !important; height:auto !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-992{display:none !important;}
	.z-show-at-992{display:block !important;}

	.z-center-children-at-992{ text-align:center; font-size:0px;} 
	.z-center-children-at-992 > div, .z-center-children-at-992 > a{ display:inline-block; text-align:left; vertical-align:top; float:none; }


	.zMenuBarDiv { width:100% !important;} 
	.z-mobileMenuDiv ul{ padding-left:0px;}
	.z-mobileMenuDiv li{list-style:none;}
	.z-mobileMenuDiv{display:block; background-color:#093e6a; width:100%; float:left;}

	.z-mobileMenuDiv a{ display:block; padding:10px 20px; font-size:16px !important;   color:#FFF; text-decoration:none;}
	.z-mobileMenuDiv nav{visibility:hidden;}
}
@media screen and (max-width:767px) {

	.z-column{ margin-left:0px; margin-right:0px; } 
	.z-fluid-at-767{ width:100% !important; height:auto !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-767{display:none !important;}
	.z-show-at-767{display:block !important;}

	.z-center-children-at-767{ text-align:center; font-size:0px;} 
	.z-center-children-at-767 > div, .z-center-children-at-767 > a{ display:inline-block; text-align:left; vertical-align:top; float:none; }

	.z-mobileMenuDiv nav{width:auto;}
	.z-mobileMenuDiv nav div{float:left;clear:both;}
	.z-mobileMenuDiv li { float:left; list-style:none; clear:both; width:100% !important;}
	.z-mobileMenuButton, .z-mobileMenuDiv a{text-decoration:none;  display:block; width:100% !important; padding:10px !important; padding-top:7px !important; padding-bottom:7px !important; float:left !important; clear:both !important; margin:0px !important;}
	.z-mobileMenuButton{ background-color:#093e6a; color:#FFF !important; padding-top:10px !important; padding-bottom:10px !important;}
	.z-mobileMenuDiv li ul { display:none !important;}

	.z-mobileMenuButton {display:block;}
	.z-mobileMenuTranslateXLeftOffscreen{  
		left:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform: translateX(-130%) translateY(0); 
		-webkit-transform: translateX(-130%) translateY(0); 
		transform: translateX(-130%) translateY(0); 
		display:block !important;
		border-bottom-right-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5);
	}
	.z-mobileMenuTranslateYLeftOffscreen{  
		left:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform:translateX(0) translateY(130%); 
		-webkit-transform: translateX(0) translateY(-130%); 
		transform: translateX(0) translateY(-130%); 
		display:block !important;
		border-bottom-right-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5); 
	}
	.z-mobileMenuTranslateXRightOffscreen{ 
		
		right:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform:translateX(130%) translateY(0); 
		-webkit-transform: translateX(130%) translateY(0); 
		transform: translateX(130%) translateY(0); 
		display:block !important;
		border-bottom-left-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5); 
	}
	.z-mobileMenuTranslateYRightOffscreen{  
		right:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform:translateX(0) translateY(-130%); 
		-webkit-transform: translateX(0) translateY(-130%); 
		transform: translateX(0) translateY(-130%); 
		display:block !important;
		border-bottom-left-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5); 
	}
	.z-mobileMenuTranslateX, .z-mobileMenuTranslateY{ 
		-ms-transform:translateX(0) translateY(0); 
		-webkit-transform: translateX(0) translateY(0); 
		transform: translateX(0) translateY(0); 
		padding:5%;
	}
	.z-mobileMenuDiv {display:none; 
		color:#FFF;
		-webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
	}
}

@media screen and (max-width: 479px) {
	.z-fluid-at-479{ width:100% !important; height:auto !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-479{display:none !important;}
	.z-show-at-479{display:block !important;}
}
.z-container .z-container{ width:100%; float:left;}
