/* this file is for a standalone jetendo css framework */

.z-center-children{ text-align:center; font-size:0px;} 
.z-center-children > div, .z-center-children > a{ display:inline-block; text-align:left; vertical-align:top; float:none; }
.z-container{margin:0 auto;width:1260px;}

.z-text-white, a.z-text-white:link, a.z-text-white:visited, .z-text-white a:link, .z-text-white a:visited{color:#FFF;}
.z-text-black, a.z-text-black:link, a.z-text-black:visited, .z-text-black a:link, .z-text-black a:visited{color:#000;}
.z-text-white-transparent, a.z-text-white-transparent:link, a.z-text-white-transparent:visited, .z-text-white-transparent a:link, .z-text-white-transparent a:visited{color:#FFF; color:rgba(255,255,255,0.6); }
.z-text-black-transparent, a.z-text-black-transparent:link, a.z-text-black-transparent:visited, .z-text-black-transparent a:link, .z-text-black-transparent a:visited{color:#000; color:rgba(0,0,0,0.6); }

.z-border-white-1{border:1px solid #FFF; }
.z-border-black-1{border:1px solid #000; }
.z-border-white-2{border:2px solid #FFF; }
.z-border-black-2{border:2px solid #000; }

.z-bg-white{ background:#FFF;}
.z-bg-white, .z-bg-white a:link, .z-bg-white a:visited{color:#000;}
.z-bg-black{ background:#000;}
.z-bg-white, .z-bg-white a:link, .z-bg-white a:visited{color:#000;}
.z-bg-black, .z-bg-black a:link, .z-bg-black a:visited{color:#FFF;}

.z-bg-white-transparent{ background:rgba(255,255,255,0.6);}
.z-bg-white-transparent, .z-bg-white-transparent a:link, .z-bg-white-transparent a:visited{color:#000;}
.z-bg-black-transparent{ background:rgba(0,0,0,0.6);}
.z-bg-black-transparent, .z-bg-black-transparent a:link, .z-bg-black-transparent a:visited{color:#FFF;}

.z-clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
/* for responsive image */
.z-fluid {
	width: auto !important;
	height: auto !important;
	max-width: 100%;
}
.z-container iframe { max-width:100%;}

.z-index-1{position:relative; z-index:1;}
.z-index-2{position:relative; z-index:2;}
.z-index-3{position:relative; z-index:3;}

.z-float{ float:left; width:100%; }
.z-float-left{ float:left; }
.z-float-right{ float:right; }

.z-button, .z-button:link, .z-button:visited, .z-container input[type="submit"], .z-container input[type="button"], .z-container button {
	display: inline-block; 
	padding:7px 25px;
	color: #FFFFFF;
	background: rgba(60,60,60, 0.7);
	text-align: center;
	cursor: pointer;
	outline: 0;
	border: none;
	transition:background 0.5s;
	text-decoration: none;
}
.z-button:hover, .z-container input[type="submit"]:hover, .z-container input[type="button"]:hover, .z-container button:hover {
	background: rgba(60,60,60, 1.0);
	color:#FFF;
}
.z-radius-5{ border-radius:5px;}
.z-radius-10{ border-radius:10px;}
.z-radius-15{ border-radius:15px;}

.z-text-left {
	text-align: left !important;
}
.z-text-center {
	text-align: center !important;
}
.z-text-right {
	text-align: right !important;
}
 
.z-table-center{ text-align:center; display:table-cell; vertical-align:middle;}
.z-table-top-center{ text-align:center; display:table-cell; vertical-align:top;}
.z-table-bottom-center{ text-align:center; display:table-cell; vertical-align:bottom;}
.z-table-top-left{ text-align:left; display:table-cell; vertical-align:top;}
.z-table-top-right{ text-align:right; display:table-cell; vertical-align:top; }
.z-table-center-left{ text-align:left; display:table-cell; vertical-align:middle; }
.z-table-center-right{ text-align:right; display:table-cell; vertical-align:middle; }
.z-table-bottom-left{ text-align:left; display:table-cell; vertical-align:bottom;}
.z-table-bottom-right{ text-align:right; display:table-cell; vertical-align:bottom;}
.z-table-bottom-left{ text-align:left; display:table-cell; vertical-align:bottom;}
.z-table{
	display:table;
	
}
.z-reverse-order{ direction: rtl; }
.z-normal-order{ direction: ltr; }
.z-left-sidebar{
	display:table-cell;
	vertical-align: top; 
	float:none !important;
	direction: ltr;
}
.z-right-sidebar{
	display:table-cell;
	vertical-align: top;
	float:none !important;
	direction: ltr;
}

.zForceNegativeMarginLeft, .zForceNegativeMarginRight{ float:left; display:none;}
 


.z-bg-black-gradient-fade-down-80{ 
	color:#FFF;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.80) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.z-bg-white-gradient-fade-down-80{ 
	color:#000;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.80) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.80) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.80) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6FFFFFF', endColorstr='#00FFFFFF',GradientType=0 ); /* IE6-9 */

}
.z-bg-black-gradient-fade-up-80{ 
	color:#FFF;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.z-bg-white-gradient-fade-up-80{ 
	color:#000;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.80) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.80) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#a6FFFFFF',GradientType=0 ); /* IE6-9 */

}
.z-bg-black-gradient-fade-down-100{ 
	color:#FFF;
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.z-bg-white-gradient-fade-down-100{ 
	color:#000;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */

}
.z-bg-black-gradient-fade-up-100{ 
	color:#FFF;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff000000',GradientType=0 ); /* IE6-9 */

}
.z-bg-white-gradient-fade-up-100{ 
	color:#000;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */

}

.z-bg-white-gradient-middle-fade-down-80{
	color:#000;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.80) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.80) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.80) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.z-bg-white-gradient-middle-fade-up-80{
	color:#000;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.z-bg-white-gradient-middle-fade-down-100{
	color:#000;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.z-bg-white-gradient-middle-fade-up-100{
	color:#000;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.z-bg-black-gradient-middle-fade-down-80{
	color:#FFF;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.80) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0.80) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0.80) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.z-bg-black-gradient-middle-fade-up-80{
	color:#FFF;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.80) 40%, rgba(0,0,0,0.80) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 40%,rgba(0,0,0,0.80) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.80) 40%,rgba(0,0,0,0.80) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.z-bg-black-gradient-middle-fade-down-100{
	color:#FFF;
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 60%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.z-bg-black-gradient-middle-fade-up-100{
	color:#FFF;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 40%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 40%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.z-overlay-bottom {
    position: absolute;
    left: 0%;
    bottom: 0%; 
    width: 100%;
    z-index:4;
    text-decoration: none; 
} 
.z-arrow-top-10{ 
	border: 10px solid transparent;
	border-width: 10px 10px; 
	background: transparent;
	display:block;
	margin-bottom:-5px;
	border-top-color: #999;
}
.z-arrow-bottom-10{ 
	border: 10px solid transparent;
	border-width: 10px 10px;
	margin-bottom: 5px;
	background: transparent;
	display:block;
	border-bottom-color: #999;
}
.z-arrow-left-10{ 
	border: 10px solid transparent;
	border-width: 10px 10px;
	margin-top: -10px; 
	background: transparent;
	display:block;
	border-right-color: #999;
}
.z-arrow-right-10{ 
	border: 10px solid transparent;
	border-width: 10px 10px; 
	background: transparent;
	float:right; position:relative;
	display:block;
	border-left-color: #999;
}


 
.zAnimateOnVisible{ }
.zOnVisibleSlide { 
	-webkit-animation: zOnVisibleSlide 0.8s ease forwards;
	animation: zOnVisibleSlide 0.8s ease forwards;
}
@-webkit-keyframes zOnVisibleSlide {
  to { 
		-ms-transform:translateX(0) translateY(0); 
		-webkit-transform: translateX(0) translateY(0); 
		transform: translateX(0) translateY(0);  
	}
}
@keyframes zOnVisibleSlide {
  to { 
		-ms-transform:translateX(0) translateY(0); 
		-webkit-transform: translateX(0) translateY(0); 
		transform: translateX(0) translateY(0);  
	}
}
.zAnimateVisible {
  transform: translateX(0) translateY(0) !important;
  animation: none;
}

.z-show-at-1362{display:none;}
.z-show-at-992{display:none;}
.z-show-at-767{display:none;}
.z-show-at-479{display:none;}

.z-mobileMenuButton {display:none;}
.z-mobileMenuDiv {display:none;}

.z-transition-all{-webkit-transition: all ease 0.3s; transition: all ease 0.3s;}

@media screen and (max-width: 1362px) { 
	.z-container{margin:0 auto; width:974px;}
	.z-fluid-at-1362{ width:100% !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-1362{display:none !important;}
	.z-show-at-1362{display:block !important;}
}
@media screen and (max-width: 992px) { 
	.z-container{margin:0 auto; width:100%;}  

	.z-table{display:block;}

	.z-left-sidebar{
		display:block;
		width:100% !important;
		float:left !important;
		max-width:100% !important;
		margin:0px;
		margin-left:0px !important; margin-right:0px !important; 
	}
	.z-right-sidebar{
		display:block;
		width:100% !important;
		max-width:100% !important;
		float:left !important;
		margin:0px;
		margin-left:0px !important; margin-right:0px !important; 
	}
	.z-fluid-at-992{ width:100% !important; height:auto !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-992{display:none !important;}
	.z-show-at-992{display:block !important;}

	.z-center-children-at-992{ text-align:center; font-size:0px;} 
	.z-center-children-at-992 > div, .z-center-children-at-992 > a{ display:inline-block; text-align:left; vertical-align:top; float:none; }


	.zMenuBarDiv { width:100% !important;} 
	.z-mobileMenuDiv ul{ padding-left:0px;}
	.z-mobileMenuDiv li{list-style:none;}
	.z-mobileMenuDiv{display:block; background-color:#093e6a; width:100%; float:left;}

	.z-mobileMenuDiv a{ display:block; white-space:nowrap; padding:10px 20px; font-size:16px !important;   color:#FFF; text-decoration:none;}
	.z-mobileMenuDiv nav{visibility:hidden;}
}

@media screen and (max-width:767px) {

	.z-column{ margin-left:0px; margin-right:0px; } 
	.z-fluid-at-767{ width:100% !important; height:auto !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-767{display:none !important;}
	.z-show-at-767{display:block !important;}

	.z-center-children-at-767{ text-align:center; font-size:0px;} 
	.z-center-children-at-767 > div, .z-center-children-at-767 > a{ display:inline-block; text-align:left; vertical-align:top; float:none; }

	.z-mobileMenuDiv nav{width:auto;}
	.z-mobileMenuDiv nav div{float:left;clear:both;}
	.z-mobileMenuDiv li { float:left; list-style:none; clear:both; width:100% !important;}
	.z-mobileMenuButton, .z-mobileMenuDiv a{text-decoration:none;  display:block; width:100% !important; padding:10px !important; padding-top:7px !important; padding-bottom:7px !important; float:left !important; clear:both !important; margin:0px !important;}
	.z-mobileMenuButton{ background-color:#093e6a; color:#FFF !important; padding-top:10px !important; padding-bottom:10px !important;}
	.z-mobileMenuDiv li ul { display:none !important;}

	.z-mobileMenuButton {display:block;}
	.z-mobileMenuTranslateXLeftOffscreen{  
		left:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform: translateX(-130%) translateY(0); 
		-webkit-transform: translateX(-130%) translateY(0); 
		transform: translateX(-130%) translateY(0); 
		display:block !important;
		border-bottom-right-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5);
	}
	.z-mobileMenuTranslateYLeftOffscreen{  
		left:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform:translateX(0) translateY(130%); 
		-webkit-transform: translateX(0) translateY(-130%); 
		transform: translateX(0) translateY(-130%); 
		display:block !important;
		border-bottom-right-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5); 
	}
	.z-mobileMenuTranslateXRightOffscreen{ 
		
		right:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform:translateX(130%) translateY(0); 
		-webkit-transform: translateX(130%) translateY(0); 
		transform: translateX(130%) translateY(0); 
		display:block !important;
		border-bottom-left-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5); 
	}
	.z-mobileMenuTranslateYRightOffscreen{  
		right:0px;
		 position:absolute; 
		 top:0px;
		 width:auto;
		-ms-transform:translateX(0) translateY(-130%); 
		-webkit-transform: translateX(0) translateY(-130%); 
		transform: translateX(0) translateY(-130%); 
		display:block !important;
		border-bottom-left-radius: 20px;
		border:2px solid rgba(255,255,255, 0.5); 
	}
	.z-mobileMenuTranslateX, .z-mobileMenuTranslateY{ 
		-ms-transform:translateX(0) translateY(0); 
		-webkit-transform: translateX(0) translateY(0); 
		transform: translateX(0) translateY(0); 
		padding:5%;
	}
	.z-mobileMenuDiv {display:none; 
		color:#FFF;
		-webkit-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 39px 0px rgba(0,0,0,0.75);
	}
}

@media screen and (max-width: 479px) {
	.z-fluid-at-479{ width:100% !important; height:auto !important; margin-left:0px !important; margin-right:0px !important; max-width:100% !important;}
	.z-hide-at-479{display:none !important;}
	.z-show-at-479{display:block !important;}
}
.z-container .z-container{ width:100%; float:left;}
