html {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
 box-sizing: content-box; 
}
*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
 box-sizing: inherit; 
}
img { 
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box; 
}
div.time-picker li{ height:16px !important;}

.zMenuWrapper{visibility:hidden;}
#cboxLoadedContent{border:none !important; margin-top:5px !important;}

.zGearButton:link, .zGearButton:visited{
	font-size:30px;line-height:36px; color:#000;
}
.table {
display:table;
}
.tr {
display:table-row;
}
.th {
display:table-cell; padding:3px;
}
.td {
display:table-cell; padding:3px;
}
.zGearButton:hover{ color:#666;}
 




.addthisevent{visibility:hidden;}
.zGalleryViewSlideshowContainer{width:100%; float:left; margin-bottom:20px;}
.zGearPopupInnerMenu{padding:2px; background-color:#333; float:left; border-radius:5px; }
.zGearPopupMenu{ position:absolute; top:0; left:0; visibility:hidden; }
.zGearPopupMenuButton:link, .zGearPopupMenuButton:visited{ color:#FFF;text-decoration:none; border-radius:5px; clear:both; display:block; float:left; margin-bottom:2px; background-color:#666; padding:5px;white-space:nowrap; padding-left:10px; padding-right:10px; font-size:13px; font-weight:bold; line-height:17px; }
.zGearPopupMenuButton:hover{color:#FFF; background-color:#999;}

.zPaypalButton{ width:230px; float:left;text-align:center;}
.zPaypalSelectMessage{width:100%; float:left;}
.zPaypalSelect{width:100%; float:left;}
.zPaypalImageDiv{width:100%; float:left;}
.zPaypalImageDiv input{background:none; border:none;}
.zPaypalBottomMessage{width:100%; float:left;}


.adminBrowserCompatibilityWarning{display:none; background-color:#900; width:98%; padding:1%; float:left; color:#FFF; font-size:21px; line-height:24px;}
.adminBrowserCompatibilityWarning h2{ color:#FFF; font-size:30px; line-height:36px;}
.adminBrowserCompatibilityWarning a:link, .adminBrowserCompatibilityWarning  a:visited{color:#FFF;}

.zMorgagePaymentTextTotal{ font-size:18px; line-height:24px;}
.zMortgagePaymentFieldDiv{ width:100%; margin-bottom:10px; float:left;}
.zMortgagePaymentResults{float:left; width:100%; margin-top:10px;}

.zSearchCriteriaField{ margin-bottom:10px; float:left;  padding-bottom:10px; border-bottom:1px solid #CCC;width:100%;}
#zSearchTitleDiv{ width:100%; float:left; font-size:150%; line-height:150%; margin-bottom:10px;}
#zSearchFilterDiv{ width:100%; float:left; margin-bottom:5px;}
#zSearchTabDiv{ width:100%; float:left; margin-bottom:10px;}
#zSearchTabDiv a:link, #zSearchTabDiv a:visited{ text-decoration:none; display:block; padding:5px; float:left; margin-right:5px; color:#000; background-color:#EEE;}
.zSearchTabDivSelected:link, .zSearchTabDivSelected:visited, .zSearchTabDivSelected:hover{ color:#FFF !important; background-color:#000 !important;}
#zSearchTabDiv a:hover{background-color:#FFF;  color:#666;}
#zSearchFormDiv{width: 23%; min-width: 220px;margin-right:10px; padding-right:10px; border-right:1px solid #CCC;  vertical-align:top; display:table-cell;}
#zSearchResultsDiv{display:table-cell;vertical-align:top; padding-left:20px; }
.zSearchNavDiv{float:left; width:100%; margin-top:10px;}
.zSearchNavBack:link, .zSearchNavBack:visited{ background-color:#FFF; text-decoration:none;  color:#000; float:left; border:1px solid #999;display:block; padding:10px; }
.zSearchNavBack:hover{  background-color:#DDD; color:#000;}
.zSearchNavNext:link, .zSearchNavNext:visited{ background-color:#FFF; text-decoration:none; color:#000; float:right; display:block; border:1px solid #999;padding:10px; }
.zSearchNavNext:hover{ background-color:#DDD; color:#000;}
.zSearchCriteriaSubGroupToggle{display:block; width:20px;pointer-events:none; height:18px; border-radius:20px; text-align:center; padding-top:2px; float:right; background-color:#FFF; color:#000; font-size:15px; font-weight:700; line-height:14px;}
.zSearchCriteriaSubGroupLabel{display:block;float:left;  font-size:125%; line-height:150%; color:#FFF; pointer-events:none;}
.zSearchCriteriaSubGroup {display:block;text-decoration:none;
	cursor:pointer;
	float: left;
	width: 96%;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 2%;
	margin-left: 0px;
	color: #FFF;
	background-color: #777;
}
.zSearchCriteriaButton{
	padding:8px; font-size:120%; line-height:150%;
}
.zSearchCriteriaButtonSmall{ padding:3px; }
.zSearchCriteriaSubGroupContainer {
	width: 96%;
	padding: 1%;
	padding-left:3%;
	display:none;
}

.zSearchFormDivNoSidebar { width:100% !important; float:left !important; display:block !important; padding-bottom:10px !important; border-right:none !important; border-bottom:1px solid #CCC !important; margin-bottom:10px !important;}
.zSearchResultsDivNoSidebar { padding-left:0px !important; display:block !important; float:left !important; width:100% !important;}
@media (max-width: 580px){
	#zSearchFormDiv { width:100%; float:left; display:block; padding-bottom:10px; border-right:none; border-bottom:1px solid #CCC; margin-bottom:10px;}
	#zSearchResultsDiv { padding-left:0px; display:block; float:left; width:100%;}
}

.zprivacy-quicklinks{width:300px; float:right; padding-left:10px; padding-bottom:10px; border-left:1px solid #999999; margin-left:10px; margin-bottom:10px;}
.zresponsive-scroller{width:100%; overflow:auto;}
.zinquiry-form-table{ width:100%;border-spacing:0px;}
.zinquiry-form-table td{ padding:3px;vertical-align:top;}
.zinquiry-form-table th{ width:1%; text-align:left; font-weight:normal;white-space:nowrap; padding:3px; vertical-align:top;}
.zinquiry-form-table input, .zinquiry-form-table select, .zinquiry-form-table textarea{ max-width:300px;}
.ui-mobile-viewport .zinquiry-form-table input, .ui-mobile-viewport .zinquiry-form-table select,.ui-mobile-viewport  .zinquiry-form-table textarea{ max-width:100%;}
/* begin blog */
.rss-summary-d, .rss-summary-box,.rss-summary-box-l,.rss-summary-ds{
	
}  
#ui-datepicker-div{ z-index:10000 !important;}
.table-list {
	padding:0px; 
}
.table-list td{
	padding:8px; padding-left:3px; padding-right:0px;  
	vertical-align:top;
}
.table-list th, .table-list-header{
	padding:8px; padding-left:3px; padding-right:0px; 
	font-weight:normal;
	background:none !important; 
	vertical-align:top;
	text-align:left; 
	
	vertical-align:top;
}
.table-list-header{white-space:nowrap;}
.table-list th, .table-list td{padding-right:5px;}   



.zblog-relatedarticles, .zblog-populararticles, .zblog-articlepagenav{width:100%; float:left;}

body{ min-height: auto !important;}
#rssMlsSearchFormTR{width:700px; float:left;}
.zblanktemplatebody{ background:none !important; background-color:#FFF !important; color:#000 !important;}
.zblanktemplatebody a:link, .zblanktemplatebody a:visited{ color:#369;}
.ContentFlow .globalCaption{ margin-top:10px !important; margin-bottom:30px !important; }

/*#recaptcha_switch_audio { display: none; }*/
#zContentTransitionContentDiv{width:100%; float:left;}
.rss-summary-d {
	float:left;  width:99%;border-bottom:1px solid #CCCCCC; border-top:0px; border-right:0px;
}
.contentPropertySummaryDiv div{width:100%;}
.rss-summary-thumbnail{float:left; padding-right:20px; padding-bottom:20px; padding-left:0px;}
.rss-summary-ds-2{overflow:hidden;
	display:block;  float:left;   padding:10px; padding-right:0px;  }
.rss-summary-ds {overflow:hidden;
	display:block;width:95.8%; float:left;   padding:2%;padding-top:5px; padding-bottom:5px;  
}
.rss-summary-title {
	display:block; font-size:120%; font-weight:normal; line-height:24px; padding-top:0px;
}
.rss-summary-date {
	display:block; padding-bottom:5px; font-weight:normal; color:#666666;
}
.rss-summary-box { width:100%; float:left; font-size:90%; line-height:normal;border-top:1px solid #CCC; padding-top:5px; padding-bottom:3px; margin-top:5px;}
.rss-summary-box33 {
	width:100%;float:left; padding:10px; padding-top:5px; padding-bottom:5px; background-color:#EEEEEE; border-bottom:1px solid #CCCCCC;  font-weight:bold;
margin-bottom: -6px;padding-right:20px;
margin-left: -14px; margin-top:10px;
}
.rss-summary-box-l {
	float:left; 
}
.rss-menu-box {
	float:left; width:180px; border:1px solid #CCCCCC; color:#000000; background-color:#FFFFFF; font-weight:bold; text-align:left;
}
.rss-menu-box-inner {
	padding:5px; width:170px;
}
.rss-menu-box h3{
	margin:0px; border-bottom:1px solid #999999; color:#999999; margin-bottom:10px;  
}
.rss-menu-spacer {
	padding-bottom:10px;
}
.rss-menu-box a,.rss-menu-box a:link{
	text-decoration:none;
	color:#336699;
}
.rss-menu-box a:visited{
	text-decoration:none;
	color:#663399;
 
}
.rss-menu-box a:hover{
	text-decoration:underline;
	color:#FF0000;
}
.rss-comments-box{width:100%;border:1px solid #EEEEEE; clear:both; float:left; margin-bottom:2%; }
.rss-comments-subject{font-size:120%;width:99%; float:left; padding:1%; padding-top:10px; font-weight:bold; margin:0px;}
.rss-comments-text{width:99%; float:left;padding:1%;}
.rss-comments-posted a:link, .rss-comments-posted a:link{ color:#666; }
.rss-comments-posted a:hover{color:#F00;}
.rss-comments-posted{background-color:#EEEEEE;padding:1%; color:#666; border-bottom:1px solid #CCCCCC; font-size:90%; font-weight:700;width:98%; float:left;}
.rss-calendar { width:100%; height:90px; border:none;  border-right:1px solid #999999; border-bottom:1px solid #999999; }
.rss-calendar td,.rss-calendar th { text-align:center; padding:2px; font-size:10px; font-weight:bold; border:none; border-left:1px solid #999999; border-top:1px solid #999999; }
.rss-calendar-noday { background-color:#DDDDDD;   }
.rss-calendar-day { background-color:#FFFFFF; color:#999999; }
.rss-calendar-current-day { background-color:#666666; color:#FFFFFF; }
.rss-calendar-header{ background-color:#FFFFFF; color:#000000;  }
/* end blog*/



.zMemberFullDiv{float:left; width:100%; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #999;}
.zMemberImageDiv{width:27%;float:left;}
.zMemberTextDiv{ width:73%; text-align:left; float:left;}


.zOS_mode_table {
background-color:#FFFFFF; float:left; 
color: #000000;
line-height:18px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
border-top: 1px solid #999999; 
}
.zOS_mode_td {
background-color:#FFFFFF;
color: #000000;
line-height:18px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
min-width:300px; margin-right:20px; margin-bottom:5px; width:31%;float:left;
padding:5px;
border: 0px solid #999999;
}
.zOS_mode_td a:link, .zOS_mode_td a:visited{ color:#369; }
.zOS_mode_text {
	width:100%; clear:both; display:block;
color:#000000;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight:bold;
}
.zOS_mode_link {
color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}
.zOS_mode_link:link {
color: #000000;
}
.zOS_mode_link:visited {
color: #000000;
}
.zOS_mode_link:active {
color: #FF0000;
}
.zOS_mode_link:hover {
color: #FF0000;
}
.zOS_modeInput{
font-size: 10px;
border: 1px solid #999999;
}  
table{border-collapse:separate;}
#zOverEditATag,#zOverEditATag:link,#zOverEditATag:visited,#zOverEditATag:active{font-family:verdana, arial, sans-serif;background-color:#000000; color:#FFFFFF; border:3px solid #999999; padding:4px;font-size:11px;display:block;} 
#zOverEditATag:hover{ background-color:#FFFFFF; color:#000000;}
.z-fixed-position {
background-color: #F0F0F0 ;
border: 1px solid #CCCCCC ;
height: 48px ;
line-height: 50px ;
position: fixed ;
text-align: center ;
width: 148px ;
z-index: 1000 ;
}
.addthis_toolbox{ width:100%; float:left; overflow:hidden;}
.addthis_toolbox a { padding-bottom:10px !important; display:block; float:left; }
#lightbox-container-image-data-box{ clear:both;}
.z-fixed-n {
left: 50% ;
margin-left: -75px ;
top: 0px ;
}
.z-fixed-n-e {
right: 0px ;
top: 0px ;
}
.z-fixed-e {
margin-top: -25px ;
right: 0px ;
top: 50% ;
}
.z-fixed-s-e {
bottom: 0px ;
right: 0px ;
}
.z-fixed-s {
bottom: 0px ;
left: 50% ;
margin-left: -75px ;
}
.z-fixed-s-w {
bottom: 0px ;
left: 0px ;
}
.z-fixed-w {
margin-top: -25px ;
left: 0px ;
top: 50% ;
}
.z-fixed-n-w {
left: 0px ;
top: 0px ;
}
/* -------------------------------------------------- */
/* -- IE 6 FIXED POSITION HACK ---------------------- */
/* -------------------------------------------------- */
/*
html,
body,
*/
#site-body-container {
_height: 100% ;
_overflow: hidden ;
_width: 100% ;
}
#site-body-container {
_overflow-y: scroll ;
_overflow-x: hidden ;
_position: relative ;
}
.z-fixed-position {
_position: absolute ;
}
/* For the scrollbar. */
.z-fixed-n-e,
.z-fixed-e,
.z-fixed-s-e {
_margin-right: 16px ;
}
/* For the scrollbar. */
.z-fixed-n,
.z-fixed-s {
_margin-left: -83px ;
}
.zHelpToolTipContainer{}
.zHelpToolTipLabel{float:left; padding-right:5px; padding-bottom:10px;}
.zHelpToolTip,.zHelpToolTip:link, .zHelpToolTip:visited{
	cursor:pointer;
	width:13px; height:13px; display:none; float:left;
	background-image:url(/z/a/images/help_off.png);
	_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/a/images/help_off.png', sizingMethod='scale');
}





.zHelpToolTip:hover{
	background-image:url(/z/a/images/help_on.png);
	_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/z/a/images/help_on.png', sizingMethod='scale');
}
#zHelpToolTipDiv{position:absolute;  left:0px; top:0px; width:350px; z-index:10003; display:none;}
#zHelpToolTipInnerDiv{padding:10px; border:2px solid #999; border-radius:5px;   background-color:#FFF; padding-bottom:0px;}

iframe{ overflow:auto; border:none;}
.zModalOverlayDiv{display:none;}
.zModalOverlayDiv2{display:none;}
.zFormMessageBox{ width:90%; background-color:#FFFFFF; color:#000000; display:none; margin-bottom:10px; clear:both; }
.zFormMessageBox .successBox { border:1px solid #009900; padding:10px; width:90%; }
.zFormMessageBox td{ border:1px solid #990000; }
.zFormMessageBox th{ background-color:#990000; color:#FFFFFF; font-weight:bold; }
.zsearchformhr{  margin-top:5px; margin-bottom:3px; line-height:1px;   float:none; width:95%; height:1px; }
br{line-height:normal;}
.zSearchFormTable br{ line-height:1px; }

.zResultCountAbsolute{top:0px; position:absolute; z-index:30; width:130px;float:none; border:1px solid #999999; background-color:#FFF;display:none; padding:5px; color:#000; }
.tr_error td,.tr_error th{background-color:#990000; color:#FFFFFF; border-bottom:1px solid #FFFFFF; }
input, select, button, textarea { padding:2px; line-height:normal; }

.zFieldError input, .zFieldError select, .zFieldError textarea{
	border:1px solid #900;
  -moz-box-shadow:    0px 0px 4px 2px #F00;
  -webkit-box-shadow: 0px 0px 4px 2px #F00;
  box-shadow:         0px 0px 4px 2px #F00;
}

.searchMenu *{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
border:none; background:none; background-color:#FFFFFF; text-decoration:none;
}
.searchMenu div, .searchMenu a{ float:left;}
.searchMenu .zExpMenuBox{
width:106px;
padding:3px;
border:1px solid #999999;
background-color:#FFFFFF;
}
.searchMenu .zExpMenuOptionOver:link, .searchMenu .zExpMenuOptionOver:visited, .searchMenu .zExpMenuOptionOver:active,.searchMenu .zExpMenuOptionOver:hover{
background-color:#336699;
color:#FFFFFF;
}
.searchMenu .zExpMenuInput{
border:none; background:none; vertical-align:middle; float:left; display:none;
}
.searchMenu .zExpMenuExpBox *{
white-space:nowrap;
}
.searchMenu a:hover{
border:1px solid #CCCCCC;
color:#990000;
}
.searchMenu a{
display:block; width:100px; height:15px; padding:2px; clear:both;
border:1px solid #FFFFFF;
}
.searchMenu .zExpMenuGroupLabel{
font-size:13px; font-weight:bold; padding:3px; display:block; color:#000000;
}
.searchMenu .zExpandingBoxSubmitLinks a{
text-align:center; background-color:#336699; color:#FFFFFF; width:auto; white-space:nowrap; float:right;padding:5px; margin:5px;
}
.searchMenu .zExpMenuOptionOver:hover, .searchMenu .zExpandingBoxSubmitLinks a:hover{
background-color:#009900; color:#FFFFFF;
}
.searchMenu .zExpandingBox{
margin-left:5px;
width:550px;
border:1px solid #990000;
background-color:#FFFFFF;
}
.zExpandingBox td{ background-color:#FFFFFF; }

.zcontent-sublink-tab, .zcontent-sublink-tab:link, .zcontent-sublink-tab:visited, .zcontent-sublink-selected{display:block; padding:2px; color:#000;    }
.zcontent-sublink-tab:hover{ background-color:#FFF; color:#000; }
.zcontent-sublink-selected{ background-color:#FFF; color:#FF0000; text-decoration:none; }
.zcontent-sublink-subtab, .zcontent-sublink-subtab:link, .zcontent-sublink-subtab:visited{display:block; padding:2px; }
.zcontent-sublink-subtab:hover { background-color:#FFF; color:#666; }
.zcontent-sublink-column{float:left !important; width:49%; padding-right:1%;}
.zcontent-sublink-columncontainer{float:left; width:100%; clear:both; padding-bottom:10px; background-color:#EFEFEF; border:1px solid #CCC; font-size:90%; line-height:150%; margin-bottom:10px;color:#000;}
.zcontent-sublink-tableofcontents{float:left; width:100%; font-size:10px; line-height:10px; padding:5px; }
.zcontent-sublink-columncontainer a:link, .zcontent-sublink-columncontainer a:visited{ color:#369; }
.zcontent-sublink-columncontainer a:hover{ color:#F00;}
.zcontent-sublink-container{float:left; padding:10px; padding-bottom:0px;}
.zcontent-sublink-columncontainer li{clear:both; list-style:none;}
.zcontent-sublink-link-selected{ display:block; float:left; padding:2px; }
.zcontent-sublink-link{ display:block; float:left; padding:2px;}
.zcontent-sublink-link:hover{ background-color:#FFF; color:#666; }
.zcontent-sublink-link-delimiter{display:block; float:left;padding:2px;}
.zcontent-sublink-number-style{float:left; display:block; padding-top:2px; padding-bottom:2px; width:5%;}
.zcontent-sublink-number-link{float:left;display:block; width:95%;}
.zcontent-sublink-number-ul{list-style:none;margin:0px; padding:0px; padding-top:5px; padding-left:10px;}
.zcontent-sublink-ul{margin:0px; padding:0px; padding-top:5px; padding-left:25px;}

.zcontent-sublink-thumbnail-container{width:100%; float:left;}
.zcontent-sublink-thumbnail{ width:200px; float:left; margin-right:25px; margin-bottom:25px; text-align:center;}
.zcontent-sublink-thumbnail-text{ font-size:110%; line-height:150%}

.zModalOverlayDiv {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100px;
     height:100px;
     z-index:30000;
	 float:none;
	 background-image:url(/z/a/images/bg-checker.png);
}

.zModalOverlayDiv2 {
     position: absolute;
     left: 0px;
     top: 0px;
	 width:20px;
	 height:20px;
     color: #000;
	 overflow:auto;
     background-color: #fff;
     border:1px solid #000;
	 float:none;
     padding:15px;
     text-align:left;

}
.zModalOverlayDiv2 h2, .zModalOverlayDiv2 h3, .zModalOverlayDiv2 h1{ color:#000; }
.zModalOverlayDiv2 a:link, .zModalOverlayDiv2 a:visited{ color:#369; text-decoration:underline; }
.zModalOverlayDiv2 a:hover { color:#F00; }

.zMenuWrapper{clear:both;}
.zMenuWrapper span{display:block; }
.zMenuClear {clear: both;height: 0px;line-height: 0.0px; font-size:0px;}
#zMenuDivDefault, #zMenuDivDefault ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#zMenuDivDefault a {
	display: block;
	text-decoration: none;
	padding: 12px 12px 12px 12px;
	color: #000;
}
#zMenuDivDefault a.trigger {
	border-left: 1px solid #999;
	padding: 5px;
    font-weight:bold;  
}
#zMenuDivDefault a.imagetrigger {
	padding:0px;
}
#zMenuDivDefault li ul li  { 
	width:100%;
    background:none;
    background-color: #FFFFFF;
    color:#000 !important;
}
#zMenuDivDefault li li{
	float: left;
	width:100%;
	clear:both;
}
#zMenuDivDefault li{
	float: left;
}
#zMenuDivDefault ul li a  {
	background:none; 
	border-right: 0;
	padding: 5px;
    border-bottom:1px solid #CCC;
}
#zMenuDivDefault li ul {
	position: absolute;
	display: none;
	z-index:2000;
    border-left:1px solid #CCC;
	background-color: #FFFFFF;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
#zMenuDivDefault li {position: relative;}

/* hide from IE mac \*/
#zMenuDivDefault li {position: static; width: auto;}
/* end hiding from IE5 mac */


/*#zMenuDivDefault li:hover ul, */
#zMenuDivDefault li.zMenuHvr ul {
	display: block;
}
#zMenuDivDefault li.zMenuNoHvr ul {
	display: none !important;
}


#zMenuDivDefault li:hover a, #zMenuDivDefault a:focus,
#zMenuDivDefault a:active, #zMenuDivDefault li.zMenuHvr a {
	color: #FFF; 
    background-color: #369;
}
#zMenuDivDefault li:hover ul a, #zMenuDivDefault li.zMenuHvr ul a {
	color: #000000;
	background:none;
}

#zMenuDivDefault ul a:hover {
    background-color: #369 !important;
	color: #FFFFFF !important;

}
#zMenuDivDefault{ float:left;color:#000;  }  
object{border:none;}
.zsearchfiltertab:link,.zsearchfiltertab:visited{display:block;float:left; padding:10px;  font-size:12px; font-weight:normal;border-left:1px solid #999;background-color:#EEE;}
.znewsearchresultstable td{ padding:5px;}
		
.zInputLinkBoxRow1{background-color:#F2F2F2; color:#000 !important;}
.zInputLinkBoxRow2{background-color:#FFFFFF; color:#000 !important;}
.zInputLinkBoxSelected { border:1px solid #CCC;float:left;width:100%; overflow:hidden; }
.zInputLinkBoxSItem{ width:125px;float:left;padding:1px; font-size:100%; white-space:nowrap; }
.zInputLinkBoxSelectedHead{ float:left;width:100%; background-color:#DFDFDF; font-weight:bold;}
.zSliderBgDiv{height:15px; border-bottom: 1px solid #999;background-image:url(/z/a/images/slider-bg.png); background-position:top right; background-repeat:no-repeat;  margin-top:5px; }
.zEmbeddedSlideshow{overflow:hidden;}


.zmember-openid{} 
.zmember-autologin-heading{text-align:center; font-size:24px;width:100%; float:left; line-height:30px; color:#666;}
.zmember-autologin-button:link, .zmember-autologin-button:visited{ display:block; text-decoration:none !important; float:left; margin-left:37px; margin-top:20px; color:#000 !important; padding:25px; padding-left:35px; padding-right:35px; background-color:#FFF !important; border:1px solid #CCC !important; font-size:24px !important; line-height:30px !important; }
.zmember-autologin-button:hover{ background-color:#999 !important; color:#FFF !important;}
.zmember-openid-subheader{font-size:110%; float:left; width:100%; padding-top:14px; padding-bottom:7px;}
.zmember-openid-buttons{font-size:14px; float:left; width:auto; padding:0px; margin-bottom:0px;font-family:Open Sans, Arial, Verdana, Helvetica, sans-serif;}
.zmember-openid h2, .zmember-openid-buttons h2{ font-size: 16px; line-height:20px; margin:0px; padding:0px;  padding-bottom:4px;}
.zmember-openid-buttons input, .zmember-openid-buttons button, .zmember-openid-buttons a:link, .zmember-openid-buttons a:visited{font-size:14px;margin:0px; padding:0px; cursor:pointer; margin-right:5px; margin-bottom:4px; margin-top:4px; text-decoration:none;display:block; float:left; padding:4px; height:30px; width:170px; border:1px solid #999; background-color:#FFF;color:#000; border-radius:4px; }
.zmember-openid-buttons a:link, .zmember-openid-buttons a:visited{width:auto !important;}
.zmember-openid-buttons button:hover, .zmember-openid-buttons a:hover{background-color:#CFC; color:#000; }
.zmember-openid-buttons button{ width:180px; height:35px;}
.zmember-openid-buttons input{cursor:text; background-color:#F9F9F9;}
.zmember-openid-buttons input:focus{background-color:#FFF;}
#openidurl{height:25px; width:95%; max-width:355px;}
hr{ background:none; border:none; border-bottom:1px solid #999; width:100%; margin:0px; padding:0px; margin-top:5px; margin-bottom:5px;}

.z-search-form{ margin-bottom:20px; float:left; width:100%;}
.z-search-form-input{width:50%; font-size:130%; line-height:150%;}
.z-search-form-submit{font-size:130%; line-height:150%;}
.z-search-results{width:100%; float:left; }
.z-search-results-heading{width:100%; font-size:170%; line-height:150%;float:left; }
.z-search-link{ width:100%; float:left; padding-bottom:10px; border-bottom:1px solid #999; margin-bottom:10px;}
.z-search-link-image{ min-width:150px; width:150px; display:table-cell; padding-bottom:10px; padding-right:20px;margin-bottom:10px;}
.z-search-link-text{ width:10000px; display:table-cell; float:none; min-height:1px;vertical-align:top;}
.z-search-link-heading{width:100%;  float:left; font-size:140%; line-height:150%;}
.z-search-link-summary{width:100%; float:left; }
.z-search-link-date{width:100%;  font-style:italic; float:left; }
.z-search-nav{width:100%; float:left; }

@media (max-width:767px){
	.zinquiry-form-table input, .zinquiry-form-table select, .zinquiry-form-table textarea{max-width:150px;}
}
@media (max-width: 680px){
.zMemberImageDiv{width:100%;}
.zMemberTextDiv{width:100%; padding-top:10px;}
}

@media (max-width: 580px){
.z-search-link-image{ width:100%; display:block;float:left; padding-bottom:10px; padding-right:0px;margin-bottom:10px;}
.z-search-link-text{ width:100%; display:block; float:left; clear:both; min-height:1px;vertical-align:top;}
}
 
 
.zMenuEqualDiv{position:relative; z-index:1000;}
.zMenuEqualUL{width:102%; float:left;display:block;position:relative; padding:0px; margin:0px; list-style:none; white-space:nowrap; z-index:999;}
.zMenuEqualLI{width:auto; display:inline-block; white-space:nowrap; *display:inline !important; float:left; *zoom:1; top:0; left:0; margin:0 auto; position:relative;}
.zMenuEqualA{  text-decoration:none; padding:5px; float:left; margin:0 auto; position:relative; text-align:center; top:0; left:0; }
.zMenuEqualUL ul{text-align:left;}




.zEventInfoButton:link, .zEventInfoButton:visited{padding:5px; padding-left:10px; padding-right:10px; float:left; display:block; clear:both; margin-top:10px;font-size:120%; line-height:auto; background-color:#999; color:#FFF; border-radius:5px;}
.zEventListContainer{ padding:10px;display:table;}
#zCalendarTab_List{clear:both;width:100%; float:left;}
#zCalendarTab_List hr{margin-top:10px; margin-bottom:10px;}
.zEventListPhoto{width:170px; margin-right:20px;width:1%;display:table-cell;vertical-align:top;}
.zEventListText{ display:table-cell; padding-left:20px; vertical-align:top;}
.zEventListDate{width:100%; float:left; font-weight:bold;}
.zEventListSummary{width:100%; float:left;}
.zEventListHeading{width:100%; float:left;}
.zEventListSummary{width:100%; float:left;}
.zEventSearchHeading{font-weight:bold; font-size:120%; line-height:normal; padding-bottom:10px; width:100%; float:left;}
.zEventSearchSubHeading{width:100%; float:left;}
.zEventSearchField{padding-bottom:10px;width:100%; float:left;}
.zEventSearchDateField{width:100%; float:left;}
.zEventSearchFieldItem{width:100%; float:left; font-size:90%;}
.zEventViewMapContainer{width:100%; display:none; float:left;}
.zEventView1-0{width:100%; float:left;}
.zEventView1-print:link, .zEventView1-print:visited{display:block; float:left; padding:5px; text-decoration:none;border:1px solid #666; background-color:#999; color:#FFF; border-radius:5px;}
.zEventView1-print:hover{background-color:#000;}
.zEventView1-1{width:100px; display:table-cell;  font-weight:bold;}
.zEventView1-2{ display:table-cell;  font-size:15px; line-height:19px;padding-top:16px;padding-bottom:16px; color:#000000; margin-left:37px;}
.zEventView1-3{width:100%; float:left; padding-bottom:20px;}
.zEventView1-4{width:100%; display:table;  font-size:120%; font-weight:bold; line-height:normal;}
.zEventView1-Map{width:100%; float:left; height:300px; display:none;}
.zEventView1-larger{display:block; width:100%; height:30px; margin-bottom:10px; overflow:hidden; line-height:30px; font-size:18px; float:left;}
.zEventView1-backToCalendar:link, .zEventView1-backToCalendar:visited{ display:block; float:left; font-size:120%; line-height:normal; margin-top:20px; padding:5px; text-decoration:none;border:1px solid #666; background-color:#999; color:#FFF; border-radius:5px;}
#zCalendarFullPageDiv .fc-event{cursor:pointer;}
.zCalendarHomeTabs{}
.zEventView1-print:hover{background-color:#000;}
.zEventSearchContainer{display:table;}
.zEventSearchForm{width:1%; min-width:150px; display:table-cell;vertical-align:top;}
#zEventSearchResults{display:table-cell;vertical-align:top; padding-left:20px;}
.zEventListHeading h2{margin:0px; padding:0px; padding-bottom:10px;}
.zEventSearchFieldItem2, .zEventSearchFieldItem1{display:table-cell; vertical-align:top;}

.ui-datepicker-group{background-color:#FFF; }

.zPagination-container{width:100%;}
.zPagination-container span,.zPagination-container a:link, .zPagination-container a:visited{ padding:5px; padding-left:10px; padding-right:10px; float:left; display:block; }
.zCalendarTabContainer{width:100%; padding-top:20px; float:left;}
#zCalendarHomeTabs{background:none; border:none;}
#zCalendarHomeTabs .ui-tabs-nav{background:none; font-family:inherit;border:none;}
.ui-widget{font-family:inherit;}

#zCalendarFullPageDiv .fc-scroller{height:auto !important;}
#zCalendarFullPageDiv .fc-time, #zCalendarFullPageDiv .fc-title{float:left; line-height:normal;}
#zCalendarFullPageDiv .fc-content{white-space:normal !important;}


.zRecurBoxColumn1{ width:400px;vertical-align:top; display:table-cell; min-width:310px; max-width:372px;  }
.zRecurBoxColumn2{ padding-left:5px;vertical-align:top; display:table-cell;  }

.zMobileOnly{display:none;}
.zDesktopOnly{display:block;}
.zImageLibraryImageRight{float:right; margin-left:20px; margin-bottom:20px;}
.zImageLibraryImageLeft{float:left; margin-right:20px; margin-bottom:20px;}
.zImageLibraryImageLeft img{max-width:100%;}
.zImageLibraryImageRight img{max-width:100%;}

@media only screen and (max-width: 992px) {

.zImageLibraryImageRight{width:50% !important;}
.zImageLibraryImageLeft{width:50% !important;}
	.zMobileOnly{display:block;}
	.zDesktopOnly{display:none;}
}


@media only screen and (max-width: 767px) {
	.zImageLibraryImageLeft{width:100% !important; margin-right:0px;margin-left:0px; }
	.zImageLibraryImageRight{width:100% !important; margin-right:0px; margin-left:0px; float:left;} 
}
@media only screen and (max-width: 640px) {
	.zRecurBoxColumn1{display:block;width:95%; max-width:95%; min-width:320px;float:left;}
	.zRecurBoxColumn2{display:block;width:95%; max-width:95%;  min-width:320px; padding-left:0px;float:left;}
}
.zRecurBox{ width:95%;border:1px solid #999; border-radius:5px; padding:2%; float:left; margin-bottom:10px;}
.zRecurCalendarContainer{width:150px;margin:5px; background-color:#FFF; color:#000;float:left; }
.zRecurCalendarMonth{ padding:1px;  font-weight:bold;text-align:center;width:100%; float:left;}
.zRecurCalendar{
	text-align:center; width:150px; display:table; table-layout:fixed; border-spacing:0px;  
}
.zRecurCalendarWeek{display:table-row;}
.zRecurCalendarDayLabels{ padding:1px;  display:table-row;}
.zRecurCalendarDayLabel{ padding:1px; display:table-cell; }
.zRecurCalendarDay, .zRecurCalendarDayOtherMonth{
	display:table-cell; padding:1px; margin:0px; line-height:normal;
}
.zRecurCalendarDayMarked{font-weight:bold; color:#369;cursor:pointer; background-color:#369 !important; color:#FFF !important;}
.zRecurCalendarDayOtherMonth{ background-color:#EEE !important; color:#999 !important;}
.zRecurType{display:none;}
.zRecurDayButton{display:block; color:#000;background-color:#F6F6F6;border:1px solid #CCC; cursor:pointer; border-radius:5px; padding:4px; margin-right:3px; float:left;}
.zRecurDayButton label{ line-height:15px;cursor:pointer;  }
.zRecurDayButton input{margin:0px; cursor:pointer; margin-top:1px;padding:0px;}
.zRecurDayButton:hover{ background-color:#FFF;color:#000;}
.zRecurExcludedDayText{width:75px; float:left;}
.zRecurExcludedDay{width:100px; float:left; margin-right:5px; margin-bottom:5px; color:#000; padding:5px;background-color:#F6F6F6;border:1px solid #CCC; cursor:pointer; border-radius:5px; }
.zRecurExcludedDay:hover{ background-color:#FFF;color:#000;}
.zRecurExcludedDayDeleteButton{float:right;width:20px; border-radius:5px; text-align:center;background-color:#CCC; color:#000; margin-left:5px;}
.zRecurCalendarDayExcluded{background-color:#900; color:#FFF;cursor:pointer;}
.zRecurEventBox{width:100%; float:left;}

.zEventWidget-circle-2 {color:#3a4746;font-size: 16px; width:100%; clear:both;text-align:center; float:left; display:block;
line-height: 16px;}
.zEventWidget-circle-1 {width:66px; border:1px solid #000; border-radius:76px; height:56px; float:left; margin-left:0px;   text-align:center; padding-top:10px; font-size:16px; background-repeat:no-repeat; color:#896446;
}
.zEventWidget-circle-1-4{width:100%; float:left; text-align:center;}
.zEventWidget-circle-1-3 {color:#440a05;font-size:21px; clear:both;line-height:24px;}
.zEventWidget-circle-5 {width:200px; float:left; padding-top:10px; padding-left:10px;} 
.zEventWidget-circle-7{ display:block;width:100%; float:left; clear:both; padding-bottom:10px;}
.zEventWidget-circle-7:link, .zEventWidget-circle-7:visited{color:#FFF; font-size:16px; width:245px; float:left; line-height:19px;}
.zEventWidget-circle-7:hover .zEventWidget-circle-5{color:#440a05;text-decoration:underline;}
.zEventWidget-circle-7:hover .zEventWidget-circle-6{color:#253667;text-decoration:underline;} 
#sh-calendar-widget{display:block;width:100%; float:left;}
.zEventWidget-circle-7:link, .zEventWidget-circle-7:visited{   width:100% !important; color:#253667;}
.zEventWidget-full-link:link, .zEventWidget-full-link:visited{ font-size:19px; border-radius:5px; padding:5px;  float:left; display:block; width:100%; text-align:center; max-width:230px; color:#000; border:1px solid #999; background-color:#999; line-height:normal; color:#FFF !important;}
.zEventWidget-full-link:hover{background-color:#000; color:#FFF !important; text-decoration:none;}
.zEventWidget-container{width:100%;float:left;}
.zEventWidget-container h2{font-size:21px; padding-bottom:15px;line-height:normal;}
.zEventView-preview-message{width:100%; float:left; margin-bottom:10px; background-color:#900; color:#FFF; padding:5px; border-radius:5px; }


.ui-datepicker-calendar{background-color:#FFF;}
div.time-picker li{white-space:nowrap;}
div.time-picker{width:90px !important;}
@media only screen and (max-width:200px) {
	.zEventWidget-circle-5{ width:150px; }
	.zEventWidget-circle-1-3{
		font-size:14px;
		line-height:14px;
	}
	.zEventWidget-circle-1{
		padding-top:2px; 
		width: 40px;
		height: 40px;
		font-size:12px;
	}
	.zEventWidget-circle-7:link, .zEventWidget-circle-7:visited{font-size:14px;}
}


@media only screen and (max-width:600px) {
	.zRadioGroupOptionSpan{width:100%; float:left;}
	textarea { width:100% !important;}
	.zEventView1-1{width:100%; display:block; float:left; }
	.zEventView1-2{width:100%; display:block; float:left; margin-left:0px; }
	.zEventView1-3{width:100%; }
	.zEventView1-4{width:100%; display:block; float:left; }
	.zCalendarTabContainer{padding-top:0px;}
	.zEventSearchContainer{display:block; width:100%; float:left;}
	.zEventSearchForm{width:100%; float:left; display:block;}
	#zEventSearchResults{width:100%; float:left; clear:both;display:block;padding-left:0px;}
	.zEventListContainer{width:100%;display:block; float:left;}
	#zCalendarTab_List{padding:0px;}
	.zEventListPhoto{display:block;width:200px;float:left;}
	.zEventListText{display:block;float:left;width:100% !important;clear:both; padding-left:0px;}
}