body {margin:0px; background-color:#FFF; color:#000; font-family:Verdana, Geneva, sans-serif; font-size:13px; line-height:18px;}
form{ margin:0px; padding:0px;}
img{border-style:none;}
h1,h2,h3,h4,p,ul,ol{ margin:0px; padding:0px; padding-bottom:10px;}
h1{ font-size:36px; line-height:42px; color:#13658a;line-height:normal;font-weight:normal;} 
h2{ font-size:24px; line-height:30px;color:#13658a; line-height:normal;font-weight:normal;} 
h3{ font-size:18px; line-height:21px; color:#13658a;line-height:normal;font-weight:normal;}
ul,ol{ padding-left:25px;}
a:hover{ color:#CC0000;}
#wrapper{width:974px;margin:0 auto;padding:0px; }
#cont_area{width:974px;clear:both; }
#left_block{width:187px;float:left;padding:8px; padding-top:15px; padding-right:4px; background-color:#EFEFEF; border-right:1px solid #CCC;}
#homeSearchDiv, .sidebartext { padding-left:5px;}
#homeSearchDiv{ padding-bottom:10px;} 
ul{padding-left:15px;padding-top:0px; margin:0px;}
.rss-menu-box{background:none; border:none;}
#center_block{width:724px;float:left;padding:20px;} 
.crights{ clear:both; width:944px; padding:15px; font-size:10px; line-height:14px; border-top:1px solid #999;} 
