html{
	margin:0px;
} 
.zDeletedRow{ background-color:#CCC !important; color:#999 !important; font-weight:bold; text-align:center;}
.zEditCellContainer{display:table;width:100%; }
.zEditCellField, .zEditCellSave{width:95%; display:table-cell; margin:0px; padding:3px; font-size:13px; margin-left:-3px; height:15px; margin-top:-2px;  line-height:18px; background-color:#FFF; border:1px solid #CCC;}
.zEditCellSave:link, .zEditCellSave:visited{display:table-cell;background-color:#CCC; padding:1px; width:36px;text-decoration:none; color:#000; text-align:center; cursor:pointer;}
.sfc {
	font-size:10px; padding:0px; margin:0px; padding:0px; margin-bottom:1px;
}
.sub-menu {
	font-size:12px; 
}
.sub-menu-header {
	font-size:14px;
	font-weight:bold;
}
.style1 {color: #FF0000}
.re-s1 {
	font-size: 14px;
	font-weight: bold;
}
.zls-showResultsButton{display:none;}
#searchFormTopDiv{height:60px !important;}
.zEditReadOnly:link, .zEditReadOnly:visited{border-radius:5px; padding:5px; background-color:#666 !important; border:1px solid #999 !important; display:inline-block;text-decoration:none; color:#FFF !important;}
.zHideReadOnlyField{display:none;}
.re-s2 {color: #4363A0; text-decoration:none;}
.re-s3 {
	color: #B60033; 
	font-size:14px;
	font-weight: bold; text-decoration:none;
}
  body { margin:0px; font-size:13px; font-family:Open Sans, Arial, Verdana, Helvetica, sans-serif; line-height:18px;
  }
  p {
   margin:0px; padding-top:0px; padding-bottom:15px;
  }
h2 {
	font-size : 19px;
	line-height:24px;
	font-weight : 700; 
	color : #000000;
	margin:0px;
 padding-top:0px; padding-bottom:10px;
}
h3 {
	font-size : 16px;
	line-height:21px;
	font-weight : 700; 
	color : #000000;
	margin:0px;
 padding-top:0px; padding-bottom:10px;
}
strong,b{
	font-weight : 700; }

.table-list {
	border-top:0px solid #999999;
	padding:0px;
	background-color:#FFFFFF;
}
.table-list td{
	padding:8px; padding-left:3px; padding-right:0px; 
	color:#000;
	border-bottom:1px solid #CCC; 
}
.table-list th, .table-list-header{
	padding:8px; padding-left:3px; padding-right:0px; 
	font-weight:bold;
	background:none !important;
	color:#000;
	border-bottom:1px solid #CCC;
	text-align:left;
	/*width:1%;*/ 
	vertical-align:top;
}
.table-list-header{white-space:nowrap;}
.table-list th, .table-list td{padding-right:5px;}
.table-list th a:link, .table-list th a:visited{
	color:#000; text-decoration:none !important;
		
}
.table-list tr:hover{background-color:#DFEFCF !important; }
.table-list th a:hover{ text-decoration:underline; color:#36F;}
.table-list-header {
	font-size:14px;
	background-color:#777777;
}
.table-list th a:hover{
	text-decoration:underline;
}
.table-list .explanation{
	border:1px solid #999999;
	padding:5px;
	background-color:#EEEEEE;
	font-weight:bold;
}
.table-list .row1{
}
.table-list .row2{
}
.table-list tbody tr:nth-child(even){
	background-color:#F6F6F6; 
}
.table-list .row2:hover, .table-list .row1:hover{
	background-color:#DFEFCF;
}
.mapText{
	font-size:10px;
	font-weight:bold;
	line-height:normal;
}
.mapRedMarker{
 color:#FE6C60;
}

 	hr {
	height:1px;
	border:none; background:none; border-bottom:1px solid #CCCCCC; 
}

.table-site-select, .table-site-select a:link, .table-site-select a:visited{ background-color:#69C !important; color:#FFF !important;}
.table-site-select a:hover{ color:#FF0 !important; }
.table-white {
	background-color:#FFFFFF;
}
.table-bright {
	background-color:#F9F9F9;
}
.table-medium{
	background-color:#F2F2F2;
}
input, select, textarea {
	border:1px solid #AAAAAA;
	background-color:#FFF;
	font-size:12px;
	color:#000000;
	font-weight:normal;
	font-family:Open Sans, Arial, Verdana, Helvetica, sans-serif;
}
.input-plain {
	font-weight:normal;
	background:none;
	border:none;
}
button{
	border:1px solid #AAAAAA;
	background-color:#EEEEEE;
	font-size:14px;
	color:#000000;
	padding:2px;
	margin:0px;
	margin-right:5px;
	text-align:center;
	font-weight:normal;
}
.search-nav, .search-nav-bottom {
	display:block;
	float:left;
	width:99%;
	margin-bottom:10px;
	color:#666666;
	border:1px solid #DDDDDD;
	border-bottom:2px solid #666666;
	font-weight:bold;
	padding:0px;
}
.search-nav-bottom {
	border:1px solid #DDDDDD;	
	border-top:2px solid #666666;
}
.search-nav a, .search-nav-bottom a, .search-nav-t{
	display:block;
	float:left;
	padding:5px;
	color:#666666;
	padding-right:5px;
	border-right:1px solid #DDDDDD;
}
.search-nav-t{
	color:#000000;
}
.search-nav a:hover,  .search-nav-bottom a:hover{
	color:#FFFFFF;
	background-color:#666666;
	text-decoration:none;
	border-right:1px solid #666666;
}
.search-nav-l{
	width:65%; float:left;
}
.search-nav-r{
	width:35%; float:left; text-align:right;
}
.zapp-admin-nav-text, .zapp-admin-nav-text2 {
	 color:#000000; font-size:14px; line-height:14px;background-image:url(/z/a/images/nav-gradient.jpg);
	font-weight:600; border-bottom:1px solid #999999;
}
.zapp-admin-nav-text #zMenuDivDefault a.trigger, .zapp-admin-nav-text2 #zMenuDivDefault a.trigger{padding:6px; padding-left:8px; padding-right:8px; font-weight:600;}
.zapp-admin-nav-text a {
	float:left;
	display:block; 
	margin:0px;
	height:16px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px; 
	padding-bottom:5px;
	border-right:1px solid #CAB19A;
	vertical-align:middle;
	color:#000000;
	text-decoration:none;
}
.zapp-admin-nav-text a:hover{
	color:#FFFFFF;
	background-color:#336699;
}
.zapp-admin-nav-text-content a {
	float:left;
	font-weight:bold;
	display:block; 
	margin:0px;
	margin-top:1px;
	height:22px;
	padding-left:5px;
	padding-right:5px;
	padding-top:9px; 
	padding-bottom:1px;
	vertical-align:middle;
	text-decoration:none;
}
.zapp-admin-nav-text-content a:hover{
	color:#ffffff;
	background-color:#DAFB00;
}
.zapp-admin-nav-spacer {
	display:block;
	float:left;
	padding:3px;
}
.zapp-shell-container { 
	float:left; margin-left:5px; margin-right:5px; padding-top:5px; width:99%; 
}
.zapp-shell-foot { float:left; width:100%; padding-top:10px; padding-bottom:10px; font-size:10px; color:#999999;}
.zapp-shell-foot a:link, .zapp-shell-foot a:visited { color:#999999; }
.zapp-shell-logout{
	padding:0px;  width:70px;
}
.zapp-shell-logout a:link, .zapp-shell-logout a:visited{ 
	color:#FFFFFF; 
width:70px; font-size:13px; font-weight:bold; text-decoration:none; line-height:21px; height:30px;padding-top:12px; text-align:center; vertical-align:middle; display:block;
}
.zapp-shell-logout a:hover, .zapp-shell-logout a:active{
	color:#FFFFFF;background-color:#1e5799;border-radius:10px;
}
table{border-collapse:separate !important;border-spacing:0px; empty-cells:show !important;}

.zmember-tabs{ width:99% !important; min-width:967px !important; *width:967px !important; float:left !important; position:inherit !important;}
.zmember-tabs .ui-widget-header{background:none !important; background-color:#369 !important;border: 1px solid #ccc !important; font-weight:normal !important;}
.zmember-tabs .ui-widget-content{background:none !important; background-color:#FFF !important;}
.zmember-tabs .ui-state-default{  background:none !important; background-color:#3973ac !important; border:1px solid #4b80b6 !important; color:#FFF !important;}
.zmember-tabs .ui-state-default a, .zmember-tabs .ui-state-default a:link, .zmember-tabs .ui-state-default a:visited{ color:#FFF !important; } 
.zmember-tabs .ui-state-active a, .zmember-tabs .ui-state-active a:link, .zmember-tabs .ui-state-active a:visited{ color:#000 !important;}
.zmember-tabs .ui-state-active{ border:1px solid #FFF !important;background:none !important; background-color:#FFF !important; color:#369 !important;}
.zmember-tabs .ui-state-hover{ border:1px solid #CCC !important; background:none !important; background-color:#FFF !important; color:#000 !important; } 
.zmember-tabs .ui-state-hover a, .zmember-tabs .ui-state-hover a:link, .zmember-tabs .ui-state-hover a:visited{color:#666 !important;}
.zmember-tabs .ui-state-hover a:hover{color:#666 !important;}
.zmember-tabs-vertical input, .zmember-tabs-vertical select, .zmember-tabs-vertical textarea, 
.zmember-tabs input, .zmember-tabs select, .zmember-tabs textarea{ font-size:12px !important; 
color: #000000 !important;
font-weight: normal !important;
font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif !important;}

.zmember-tabs-vertical, .zmember-tabs{font-family: Open Sans, Arial, Verdana, Helvetica, sans-serif !important;}
.zmember-tabs-vertical .ui-tabs-panel, .zmember-tabs .ui-tabs-panel{ padding:5px !important;}
.zmember-tabs-vertical { width:969px; }
.zmember-tabs-vertical .ui-tabs-nav { padding:5px; float: left; width:110px;border-radius:4px !important; }
.zmember-tabs-vertical .ui-tabs-nav li { padding-bottom:0px !important; clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; border:none !important; margin:0px !important; margin-bottom:2px !important; }
.zmember-tabs-vertical .ui-tabs-nav li a { display:block; }
.zmember-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding:0px !important; border:none !important;  padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.zmember-tabs-vertical .ui-tabs .ui-tabs-nav li.ui-tabs-selected{ padding-bottom:0px !important;}
.zmember-tabs-vertical .ui-corner-top, .zmember-tabs-vertical .ui-corner-left, .zmember-tabs-vertical .ui-corner-tl{ -khtml-border-radius-topright:0px !important;-webkit-border-radius-topright:0px !important;-moz-border-radius-topright:0px !important;border-radius:0px !important;}
.zmember-tabs-vertical .ui-tabs .ui-tabs-nav li.ui-tabs-selected{ border:none !important;  margin:0px !important; margin-bottom:2px !important;}
.zmember-tabs-buttons{float:right !important; white-space:nowrap !important; position: relative !important;top: 1px !important;}
.zmember-tabs-buttons button, .zmember-tabs-buttons-bottom button{ float:right !important; cursor:pointer !important; padding:3px; position: relative;top: 0px; padding-right:5px; padding-left:5px; border:1px solid #FFF !important;background:none !important; background-color:#FFF !important; font-weight:700 !important; color:#000 !important; border-radius:4px !important;font-size:13px !important;}
.zmember-tabs .ui-tabs-panel{ width:99% !important; min-width:958px !important; *width:958px !important; }
.zmember-tabs-vertical .ui-tabs-panel { padding:5px !important; float: right !important; width:834px !important;}

.zmember-tabs-buttons-bottom button{ float:left !important;}
.zmember-tabs-buttons button:hover, .zmember-tabs-buttons-bottom button:hover{ background-color:#EEE !important; color:#369 !important;}  
.zmember-tabs-buttons-bottom {margin-top:3px !important; float:left !important; width:99% !important; min-width:960px !important; *width:960px !important; padding:3px !important; background:none !important; background-color:#369 !important;border: 1px solid #ccc !important; float:left !important; border-radius:4px !important;}

img{border:none;}


.zCurrentInquiry td{border-bottom:1px solid #CCCCCC; background-color:#009999; color:#FFFFFF;}
.zCurrentInquiry a:link, .zCurrentInquiry a:visited{color:#FFF;}

.server-admin-data .normal-bold {
	font-family: inherit;
	font-size: 9pt;
	font-weight: bold;
	color: #999999;
}
.server-admin-data .medium {
	/*font-family: "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;*/
	font-size: 14pt;
	font-weight: normal;
	/*color: #AAAAAA;*/
}
.server-admin-data .large {
	/*font-family: "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;*/
	font-size: 14pt;
	font-weight: normal;
	/*color: #FFFFFF;*/
}
.server-admin-data .ultra {
	/*font-family: "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;*/
	font-size: 36pt;
	font-weight: bold;
	color: #FFFFFF;
}
.server-admin-data .small {
	font-family: inherit;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
}
.server-admin-data .bold {
	font-weight: bold;
}
.server-admin-data .white {
	color: #FFFFFF;
}
.server-admin-data .tiny {
	font-family: inherit;
	font-size:8pt;
	font-weight: normal;
}
.server-admin-data .tiny A{
	text-decoration:none;
}
.server-admin-data .tiny-bold {
	font-family: inherit;
	font-size: 7pt;
	font-weight: bold;
}
.server-admin-data .table-midtone {
	font-family: inherit;
	font-size: 9pt;
	font-weight: normal;
	color: #FFFFFF;
	border: 1px solid #557799;
	background-color: #668899;

}
.server-admin-data .table-midtone A{
	text-decoration:none;
}
.server-admin-data .table-midtone A:link {
	color: #FFFFFF;
}
.server-admin-data .table-midtone A:visited {
	color: #EFEFEF;
}
.server-admin-data .table-midtone A:active  {
	color: #000000;
}
.server-admin-data .table-midtone A:hover {
	color: #000000;
}
.server-admin-data .table-shadow {
	font-family: inherit;
	font-size: 10pt;
	font-weight: normal;
	color: #9CBDCF;
	background-color:#113355;
	border: 1px solid #000060;

}
.server-admin-data .table-shadow A:link {
	color: #ACCDDF;

}
.server-admin-data .table-shadow A:visited {
	color: #9CBDCF;

}
.server-admin-data .table-shadow A:active {
	color: #ACCDDF;

}
.server-admin-data .table-shadow A:hover {
	color: #FFFFFF;

}



.table-list input{min-width:800px; width:95%;}
.table-list .table-list input{min-width:auto; width:auto;}
.table-list input[type="image"], .table-list input[type="button"], .table-list input[type="submit"], .table-list input[type="radio"], .table-list input[type="checkbox"]{width:auto; min-width:auto;}
@media only screen and (max-width: 1200px) { 
.table-list input{min-width:600px;}
.table-list .table-list input{min-width:auto;}
}
@media only screen and (max-width: 980px) { 
.table-list input{min-width:500px;}
.table-list .table-list input{min-width:auto;}
}
@media only screen and (max-width: 768px) { 
.table-list input, .table-list textarea{min-width:100%;}
}
.table-list .zSearchFormTable input { min-width: inherit;}